@import "tailwindcss";
@plugin "daisyui" {
	themes: light --default, dark --prefersdark, cupcake, bumblebee, emerald, corporate, synthwave, retro, cyberpunk, valentine, halloween, garden, forest, aqua, lofi, pastel, fantasy, wireframe, black, luxury, dracula, cmyk, autumn, business, acid, lemonade, night, coffee, winter, dim, nord, sunset, abyss, caramellatte, silk;
}

@font-face {
	font-family: 'Asimovian';
	src: url('/fonts/Asimovian.woff2') format('woff2'),
	     url('/fonts/Asimovian.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}